body {
	margin: 0;
	font-size: 100%;
	background-color: rgb(235, 235, 235);
}

section, #contact {
	/* margin-left: 50px;
	margin-right: 50px; */
	margin: 12px 50px;
	padding: 0 0 20px 0;
	background-color: white;
}

#about_me {
	margin-left: 10px;
	margin-right: 5px;
	line-height: 20px;
	font-size: 110%;
}
/* the top menu */
#menu {
	margin-left: 20px;
	margin-right: 20px;
	top: 0px;
	width: 96.8%;
	height: 45px;
	position: fixed;
	text-align: center;
	background: darkgray;
	vertical-align: bottom;
}

#edan_bi {
	margin: 30px 0 25px 0;
	height: 300px;
	text-align: center;
	font-family: 'Ewert', cursive;
	font-size: 500%;
	background-image: url("misc//pawel-czerwinski-1311901-unsplash.jpg");
	background-position: 60%;
	background-size: 100%;
 }
 #edan_bi p {
	padding: 80px 0 0 0;
	color: whitesmoke;
 }
 
h3 {
	 margin: 5px;
	 text-align: center;
	 text-decoration: underline;
 }

 #gallery { margin: 0 2% 0 2%; }

 #playlist { margin: 0 3% 0 7%; }

/*  #like_qr #like { float: left; } */
 .trend {
	 display: inline-block;
	 margin: 0 20px 0 30px;
 } 

#like_btn { 
	border-width: 20px;
	border-color: red;	
}
 
#icons_contact {
	 list-style: none;
	}
	
ul.icons_contact li {
	display: inline;
}

#contact h3 {
	margin: 5px;
}

 footer {
	 clear: both;
	 margin-bottom: 70px;
	 padding: 10px 0 0 0;
	 height: 80px;
	 text-align: center;
}

