body {
	margin: 0 0;
	font-size: 100%;
	background-color: rgb(235, 235, 235);
}

section, footer {
	margin: 12px 50px;
	padding: 0 0 20px 0;
	background-color: white;
	border-radius: 15px;
}

h3 {
	margin: 5px;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	text-decoration: underline;
}

.gallery { width: 33%; }

/* the top menu */
/* margin: 0 20px; */
/* vertical-align: bottom; */
/* height: 50px; */
#menu {
	top: 0px;
	width: 100%;
	padding: 1em 0;
	position: fixed;
	text-align: center;
	background: rgb(187, 187, 187);
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration-style: none;
	text-decoration-color: rgb(187, 187, 187);
	color: black;
	margin: 0 3%;
}

a.anchor {
	display: block;
	position: relative;
	top: -60px;
	visibility: hidden;
}

a:hover {
	color: azure;
}

#about_me {
	margin-left: 10px;
	margin-right: 5px;
	line-height: 20px;
	font-size: 110%;
	font-family: 'Montserrat', sans-serif;
}

#edan_bi {
	margin: 0 0 25px 0;
	height: 300px;
	text-align: center;
	font-family: 'Ewert', cursive;
	font-size: 600%;
	background-image: url("misc//pawel-czerwinski-1311901-unsplash.jpg");
	background-position: 60%;
	background-size: 100%;
}

#edan_bi p {
	padding: 80px 0 0 0;
	color: whitesmoke;
}

#edan_bi,
p,
h3:hover {
	cursor: default;
}

#gallery {
	margin: 0 2% 0 2%;
}

#playlist, #like, #qr {
	text-align: center;
}
#connect { 
	margin: 0 0 0 15%;
	width: 30%;
}
.btn { 
	width: 40%;
	background-color: cornsilk;
	font-family: 'Oswald', sans-serif; 
}

textarea { resize: none; }

form {
	margin: 0 0 50px 0;
	padding: 0 0 20px 70px;
	font-family: 'Oswald', sans-serif;
	float: left;
}

/* #icons_contact {
	list-style: none;
}

ul.icons_contact li {
	display: inline;
} */